<?xml version="1.0" ?>
<launch>
    <!-- Parameters file -->
    <rosparam file="$(find jet_auto2)/config/jetautoObstacles.yaml" />
    <!-- Parameter for the Tf -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find jetauto_description)/urdf/jetauto.urdf.xacro'
        odom_frame:=odom
        base_frame:=base_link
        depth_camera_name:=depth_camera
        lidar_view:=true"/>

    <!-- Lidar Launch -->
    <include file="$(find jetauto_peripherals)/launch/lidar.launch"></include>

    <!-- Odometry Launch -->
    <include file="$(find jetauto_controller)/launch/odom_publish.launch"></include>

    <!-- Movement Controller Launch -->
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"></include>

    <!-- Tf and Odometry Nodes -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="init_pose" pkg="jetauto_slam" type="init_pose.py" output="screen" />
</launch>