<?xml version="1.0" ?>
<launch>

    <!-- Servo Controller Launch -->
    <!-- <include file="$(find hiwonder_servo_controllers)/launch/start.launch"></include> -->

    <!-- Camera Launch -->
    <include file="$(find jetauto_peripherals)/launch/usb_cam.launch"></include>

    <!-- Nodes -->
    <node name="Classificator" pkg="JetAuto2" type="objectClassificator.py"/>
    <!-- <node name="ArmController" pkg="JetAuto2" type="armMovement.py"/> -->

</launch>